{% extends "base.html" %}
{% from "macros.html" import FormField %}
{% from "macros.html" import Alert %}
{% block content %}
    <div class="container">
        <h1>修改密码</h1>
        <hr/>

        <div class="row clearfix">
            <div class="col-sm-3 column">
                {# alert #}
                {% for category, message in get_flashed_messages(with_categories=true) %}
                    {{ Alert(message,category) }}
                {% endfor %}

                {# form #}
                <form class="form-horizontal" method="post">
                    {{ form.hidden_tag() }}
                    {# 表单内容 #}
                    {{ FormField(form.old_password) }}
                    {{ FormField(form.password) }}
                    {{ FormField(form.confirm) }}
                    {{ form.submit(class="btn btn-success") }}
                </form>
            </div><!--col-sm-6 column-->
        </div><!--row clearfix-->
    </div><!--container-->
{% endblock %}